@page "/"
@inject IJSRuntime _js
@inject ISnackbar _Snackbar;

<PageTitle>Index</PageTitle>


<MudTextField @bind-Value="SystemText" Lines="5"/>

<MudTextField T="string" Variant="Variant.Outlined" @bind-Text="@ABCText" Lines="5"/>


<MudButton OnClick="Play">Play</MudButton>

<div class="container">
    <div id="paper"></div>
</div>


@code{

    private const string defaultSystemText = @"Title 'Song' Bars 12 BPM 120 Chords A Minor [1 6 2 5 1 7]
voice 'piano' 0 5 rhy [3 1] block 5 1 2
voice 'bass' -2 33 rhy [3 3 2] arp 3 asc 3 1
voice 'guitar' -1 28 rhy [1 1 1 1 2 1 1] arp 5 dsc 3 2



";
    private string _systemText = defaultSystemText;

    public string SystemText
    {
        get { return _systemText; }
        set
        {
            _systemText = value;
            var musicSystemResult = Parser.Parse(_systemText);
            if (musicSystemResult.IsSuccess)
            {
                musicSystem = musicSystemResult.Value;
                SetOutputJson();
            }
            else
            {
                _Snackbar.Add(musicSystemResult.Error, Severity.Error);
            }
        }
    }

    private MusicSystem musicSystem = Parser.Parse(defaultSystemText).Value;

    private void SetOutputJson()
    {
        ABCText = musicSystem.ToABC();
    //ABCText =  ConvertToAbc.Convert(_inputText, _bpm, new KeyMode(_keyTone, Mode.Major.Instance), _pronunciationEngine.Value, Voices);
    }
    

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await _js.InvokeVoidAsync("load", ABCText);
        }
    }

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        base.OnInitialized();
        SetOutputJson();
    }

    private string _abcText;

    public string ABCText
    {
        get => _abcText;
        set
        {
            _abcText = value;
            _js.InvokeVoidAsync("load", value);
        }
    }

    public async Task Play()
    {
        await _js.InvokeVoidAsync("play");
    }

    private double _animatedTime = 0;

    private MudTextField<string> inputTextReference;


    [JSInvokable("AnimateTime")]
    public ValueTask AnimateTime(double time)
    {
        var pos1 = Convert.ToInt32((time * 2 - 1) * 5);
        return inputTextReference.SelectRangeAsync(pos1, pos1 + 5);
    }

}